.loginContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.loginLeft {
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginRight {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.form {
    width: 300px;
}

.inputGroup {
    margin-bottom: 20px;
}

.inputGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.inputGroup button {
    width: 100%;
    padding: 10px;
    background-color: #f0ad4e;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.inputGroup button:hover {
    background-color: #ec971f;
}

.inputGroup button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.errorMessage {
    color: red;
    margin-top: 10px;
    text-align: center;
}