.mypageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #f7f7f7;
    overflow: hidden;
}

.contentWrapper {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.mainContent {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    color: black;
    flex-direction: column;
    min-height: 70vh;  /* コンテンツエリアの最小高さを設定 */
}

.sectionContainer {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex: 0 0 auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.buttons button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.buttons button:hover {
    background-color: #ff8c00;
}

.error {
    color: red;
    font-weight: bold;
}

.contentArea {
    flex-grow: 1;  /* 利用可能なスペースを埋める */
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    padding: 5px 20px;
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.button:hover {
    background-color: #ff8c00;
}